*{
    margin:0px;
    padding:0px;
}
.stage{
    height:558px;
    width: 992px;
    background-color: #0000ff;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
    /* this is cheating
    margin-top: 300px;
    margin-left: 400px;
    */
  }